# Secrets
.env

# Global ignores for OS/editor artifacts and checkpoints
.DS_Store
Thumbs.db
desktop.ini
__pycache__/
*.py[cod]
*.so

# Jupyter notebook checkpoints 
.ipynb_checkpoints/

# VS Code workspace files
.vscode/

# Node/npm artifacts 
node_modules/
npm-debug.log*

# OneDrive specific files 
~$*

# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
# Bibliography Artifacts
*.bbl
*.bcf
*.blg
*.run.xml